<p>
  <strong>
    zinefest2017: θέλουμε μια μέρα που θα φτιαχτεί από τα ζινς για τα ζινς, στα πλαίσια της αυτοοργάνωσης
    και της συλλογικής δράσης, χωρίς αυθεντίες. εσείς;
  </strong>
</p>

<p>
  ποτέ δεν θέλαμε το ζίνφεστ να είναι μια αμιγώς εμπορική φιέστα, όπου θα έρθουν τα ζιν να στηθούν στους
  πάγκους τους για να πουληθούν και μετά (όσα μείνουν ανεπιθύμητα) να γυρίσουν σπίτια τους. περισσότερο,
  επιζητάμε μια διοργάνωση που πρώτο λόγο έχει η συνεύρεση των ζιν, μια μέρα αφιερωμένη σε αυτά, να συζητήσουν
  και να συζητηθούν.
</p>

<p>
  με αυτό το σκεπτικό καλούμε όσες ενδιαφέρονται να συμμετέχουν, προσθέτοντας σε αυτό και βλέποντάς το
  ως κάτι δικό τους. ελάτε να μπλεχτούμε, να αναμείξουμε τις τρέλες και τους προβληματισμούς μας.
</p>

<p>
  &nbsp;
</p>

<p>
  1η οργανωτική συνάντηση για το επερχόμενο zinefest: <strong>Κυριακή 19/2 στις 18:00 στο Στέκι Μεταναστών, Τσαμαδού 13</strong>.<br>
  για περισσότερες πληροφορίες:<br>
  <img src="static/img/email.png" alt="contact"> / <img src="static/img/phone.png" alt="contact">
</p>
