<a data-flickr-embed="true"  href="https://www.flickr.com/photos/comzeradd/albums/72157683369101390"
  title="athens zinefest 2017">
  <img src="https://c1.staticflickr.com/5/4214/35334793202_84c57a7c30_b.jpg" width="100%" height="534" alt="athens zinefest 2016">
</a>

<p class="photos-notice">
  Η αναπαραγωγή επιτρέπεται αυστηρά μόνο με αναφορά πηγής/φωτογράφου.
</p>

<p class="text-center">
  <a href="http://askpthk.espivblogs.net/2017/05/21/%ce%b5%ce%b9%cf%83%ce%ae%ce%b3%ce%b7%cf%83%ce%b7-%cf%84%ce%b7%cf%82-%ce%b1%ce%bd%ce%bf%ce%b9%cf%87%cf%84%ce%ae%cf%82-%cf%83%cf%85%ce%bd%ce%ad%ce%bb%ce%b5%cf%85%cf%83%ce%b7%cf%82-%ce%ba%ce%b1%cf%84/" target="_blank">Παρέμβαση της Ανοιχτής Συνέλευσης Κατοίκων Πετραλώνων, Θησείου, Κουκακίου</a>
</p>

<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
