<p>
  <strong>
    zinefest2017: θέλουμε μια μέρα που θα φτιαχτεί από τα ζινς για τα ζινς, στα πλαίσια της αυτοοργάνωσης
    και της συλλογικής δράσης, χωρίς αυθεντίες. εσείς;
  </strong>
</p>

<p>
  ποτέ δεν θέλαμε το ζίνφεστ να είναι μια αμιγώς εμπορική φιέστα, όπου θα έρθουν τα ζιν να στηθούν στους
  πάγκους τους για να πουληθούν και μετά (όσα μείνουν ανεπιθύμητα) να γυρίσουν σπίτια τους. περισσότερο,
  επιζητάμε μια διοργάνωση που πρώτο λόγο έχει η συνεύρεση των ζιν, μια μέρα αφιερωμένη σε αυτά, να συζητήσουν
  και να συζητηθούν.
</p>

<p>
  με αυτό το σκεπτικό καλούμε όσες ενδιαφέρονται να συμμετέχουν, προσθέτοντας σε αυτό και βλέποντάς το
  ως κάτι δικό τους. ελάτε να μπλεχτούμε, να αναμείξουμε τις τρέλες και τους προβληματισμούς μας.
</p>

<p>
  &nbsp;
</p>

<p>
  Επόμενη συνάντηση Κυριακή <strong>12/3 στις 17:00 στο <a href="http://osm.org/go/xxSio0Tr0-?m=" target="_blank">πάρκο της Κονίστρας</a> (Κυμέων &amp; Δημοφώντος, Άνω Πετραλωνα
  - είσοδος απο Κυμέων)</strong>. Σε περίπτωση κακοκαιρίας θα βρισκόμαστε κάπου παρακείμενα. Πάρτε μας τηλέφωνο :)<br>
  <img src="static/img/email.png" alt="contact"> / <img src="static/img/phone.png" alt="contact">
</p>
