<p><a3><strong>To Athens Zinefest 2018 μεταφέρεται στο Πολυτεχνείο. 
<br>19 Μαιου από τις 14:00
<br>Το πρόγραμμα παραμένει το ίδιο. Τα live θα γίνουν κανονικά. Τα εργαστήρια θα ανακοινωθούν μέσα στις επόμενες μέρες.
<br>Βοηθήστε μας να επικοινωνηθεί. Διαδώστε!
<br><br>

Athens Zinefest will happen at Polytehneio.
<br>19th of May, begins at 14:00
<br>Programme will remain the same. Lives will happen as usual. Workshops will soon be announced.
<br> Help us get the people informed about the change! Spread the word!
</a3>  </p>
<div><img src="/static/img/azf2018.jpg" width ="450" alt="zinefest2018" class="img-responsive"></div>
<p>
<strong> ΤΙ ΚΟΣΜΟ ΦΤΙΑΧΝΟΥΜΕ ΓΙΑ ΤΑ ΦΑΝΖΙΝ ΜΑΣ;</strong>
 <br>
<br><strong> ΞΕΚΙΝΩΝΤΑΣ</strong>
<br>Όταν το Athens Zinefest ξεκινούσε σαν διοργάνωση, είχαμε στο μυαλό μας να καλεστούν συγκεκριμένοι άνθρωποι και έντυπα, με τα οποία θεωρούσαμε πως εκπέμπουμε στο ίδιο μήκος κύματος σε ό,τι αφορά την κουλτούρα του diy και την πολιτική διάσταση ενός φανζίν. Όσο η διοργάνωση μεγάλωνε, συνεχίσαμε να γνωρίζουμε κόσμο που έμοιαζε να μοιράζεται τους ίδιους προβληματισμούς με εμάς. Επόμενο, λοιπόν, ήταν να τεθούν τα εξής ερωτήματα: πώς μαθαίνει κάποια για το AZF, πώς και γιατί συμμετέχει σε αυτό; Σε αυτό το σημείο, ελήφθη η μεγάλη απόφαση να σχηματιστεί μια οργανωτική ομάδα που θα διαχειρίζεται τη διοργάνωση του φεστιβάλ με την προοπτική πως, στο μέλλον, τα συμμετέχοντα σε αυτό άτομα και έντυπα θα συνδιαμορφώνουν τις συζητήσεις και αποφάσεις για τη διοργάνωσή του.
<br>
 <br>Το όραμά μας ήταν -και παραμένει- να δημιουργήσουμε έναν κόσμο που, στο μέτρο του δυνατού, θα μπορεί να χωρέσει τόσο τα φανζίν μας όσο κι εμάς με τους δικούς μας όρους. Ένα περιβάλλον όπου οι άνθρωποι που αντιλαμβάνονται ομοίως με εμάς την έννοια της έκδοσης ενός φανζίν, να μπορούν να βρεθούν, να συνεργαστούν, να νιώσουν οικεία, να μοιραστούν, και τέλος, να μπορέσουν να μεταδώσουν το όραμα ενός τέτοιου κόσμου σε ακόμα περισσότερα άτομα. Mια σπίθα αρκεί για να ανάψει φωτιά κι εμείς θέλουμε πυρκαγιές. Το μόνο που μπορούμε να ελπίζουμε είναι πως ό,τι έχουμε κάνει και κάνουμε πράξη (προηγούμενα ζίνφεστ, μπροσούρες κ.λ.π.) θα λειτουργήσουν εμπνευστικά για άλλους ανθρώπους όταν και αν εμείς στερέψουμε από κουράγια και αποφασίσουμε να πίνουμε το αντικοινωνικό τσάι σπιτάκι μας.
 <br>
<br><strong>ΣΥΝΕΛΕΥΣΙΑΖΟΝΤΑΣ</strong>
<br>Πριν μιλήσουμε, λοιπόν, για τα χαρακτηριστικά που θέλουμε να έχει το AZF, θα θέλαμε να σταθούμε στον τρόπο με τον οποίο αποφασίζονται τα όσα λέμε και κάνουμε –και τον οποίο θεωρούμε σημαντικό. 
<br>
 <br>Όπως ήδη αναφέραμε, το AZF εκφράζει αυτά που πιστεύει μέσω της οργανωτικής του ομάδας, η οποία προκύπτει από καλέσματα ανοιχτά σε όποιο ενδιαφέρεται να συμμετέχει. Η συνέλευση της οργανωτικής ομάδας λειτουργεί οριζόντια, με ισοτιμία ανάμεσα στα μέλη της και χωρίς ιεραρχίες.
<br>
 <br>Το στοιχείο της αυτοοργάνωσης είναι, συνεπώς, κομβικό, ήδη πριν στηθεί η διοργάνωση του φεστιβάλ, στις αναμεταξύ μας σχέσεις και στις συνεργασίες μας. Γι’ αυτό θεωρούμε σημαντικό το δικαίωμα της ύπαρξης και έκφρασής μας σε δημόσιους και τη στήριξή μας σε αυτοδιαχειριζόμενους χώρους.
<br>
 <br>Επομένως, ενώ δεν είμαστε μια πολιτική συνέλευση, ο τρόπος που λειτουργούμε έχει ξεκάθαρα και σαφή πολιτικά χαρακτηριστικά τα οποία καθορίζουν τη συνύπαρξη τόσο μεταξύ των μελών της οργανωτικής ομάδας όσο και με τον κόσμο που σχετίζεται με το φεστιβάλ, αλλά δεν νιώθει ακόμα έτοιμος να γίνει κομμάτι της διοργάνωσης.
<br>
 <br>Τα κείμενα που δημοσιεύονται αποτελούν τους προβληματισμούς μας – με άλλα λόγια, το κάψιμο που τρώνε τα κεφάλια μας, τις θέσεις που παίρνουμε στα εκάστοτε θέματα που τίθενται στο τραπέζι, και εκφράζουν τον τρόπο με τον οποίο εμείς μέσα από μια συλλογική διαδικασία, δημιουργούμε τον κόσμο για τα έντυπά μας.
 <br>
<br><strong>ΤΙ ΕΝΤΥΠΑ ΘΕΛΟΥΜΕ</strong>
<br>Ο τρόπος αυτός αντικατοπτρίζεται στην ανεπιφύλακτη απόφασή μας να μην συμπορευόμαστε με έντυπα; που αναπαράγουν ρατσιστικό, φασιστικό, σεξιστικό και ομοφοβικό λόγο. Επιθυμούμε και αναζητούμε ανθρώπους και φανζίνς που δεν οραματίζονται την καλλιτεχνική τους καταξίωση, μα τους καίει η επιθυμία να μοιραστούν το «πόνημά» τους. Που κάνουν ζιν για το φαν, την καύλα τους, γιατί κάτι τους τρώει, και δεν βλέπουν το έντυπό τους -ή το φεστιβάλ- ως σκαλοπατάκι για τη χίπστερ φιλοδοξία ή την εναλλακτική τους καριέρα. Η επιθυμία για έκφραση έξω από κυρίαρχα πλαίσια, στο μυαλό μας δεν συμπλέει με εκδοτικούς οίκους, νομικές κατοχυρώσεις και μορφές, νόμιμους αντιπροσώπους και καταγραφή στην εθνική βιβλιοθήκη, αλλά με θέληση για κατοίκηση σε σκοτεινά υπόγεια, καταλήψεις, φιλόξενα σπίτια, σεργιάνι σε πεζοδρόμια και διαδρομές χέρι με χέρι.
<br>
 <br>Η υπερκοστολόγηση και οι φαντασιώσεις ότι κάποιος θα χτίσει την πισίνα του πουλώντας φανζίν, μπορεί να ακούγονται αστείες, αλλά πιστεύουμε πως η καύλα του να φτιάχνεις φανζίν δεν κοστολογείται με τη φανζινοώρα που ξόδεψες για να εκφράσεις το μέσα σου εντύπως. Άλλο ευχαρίστηση - άλλο δουλειά. Άλλο ανεβάζω λίγο την τιμή γιατί θέλω να χαρίσω κάποια τεύχη ή να καλύψω το κόστος του επόμενου τεύχους - άλλο υπολογίζω πόσο θα πληρωνόμουν στην ελεύθερη αγορά και χρεώνω διπλά: κάνουμε φανζίν επειδή γουστάρουμε και όχι για κάποιο όφελος ή κέρδος, χωρίς σπόνσορες ή διαφημίσεις που να κατευθύνουν με οποιονδήποτε τρόπο την έκφρασή μας. Η προτροπή ενάντια στην υπερκοστολόγηση δεν έρχεται από μια θέση υπεράνω χρημάτων/χρόνου ή από την παράκαμψη της αναπόφευκτης σχέσης μεσολάβησης του ζιν (χαρτί τυπογράφος καπιταλισμός). αλλά από τη θέση του ότι συνειδητά επιλέγουμε να το κάνουμε διαθέσιμο σε άτομα που να μπορούν να το πάρουν.
<br>
 <br>Τα παραπάνω αποτελούν τον τρόπο μας να επικοινωνήσουμε τι θα θέλαμε. Δεν κατέχουμε την απόλυτη αλήθεια, ούτε θέλουμε να υποδείξουμε το 'ορθόδοξο' φανζίν. Θέλουμε να φέρουμε κοντά πλάσματα που μοιράζονται τις ίδιες ιδέες για ένα φεστιβάλ ελεύθερο από εμπορικές και επαγγελματικές σχέσεις, λειτουργώντας αντιιεραρχικά και καλλιεργώντας προσωπική συνείδηση πως αυτό στο οποίο συμμετέχουν δεν είναι ένα ακόμα παζάρι.
 <br>
<br><strong>ΤΙ ΣΧΕΣΕΙΣ ΘΕΛΟΥΜΕ</strong>
<br>Στο φεστιβάλ αυτό δεν φέρνουμε μόνο τα φανζίν μας, μαζί μ’ αυτά φέρνουμε και την προσωπική συνειδητή επιλογή μας, όχι μόνο με την παρουσία του εντύπου μας αλλά και με τη διάθεση για συνδιαμόρφωση, την ενεργή συμμετοχή σε ένα αντιιεραρχικό πλαίσιο, την προσωπική ευθύνη του λόγου μας καθ’ όλη την διάρκεια της διοργάνωσης. Μέσα σε αυτό το πνεύμα είναι και η κουλτούρα της ανταλλαγής. Ψάχνουμε να βρούμε τι έγραψε ο άλλος, με μόνο μας νόμισμα το ίδιο μας το έντυπο. Το φανζίν είναι ένα μέσο να εκφραστούμε κι είναι εξίσου σημαντικό να επικοινωνούμε, να γνωρίσουμε τον άνθρωπο και το έντυπο που επέλεξε να είναι στον ίδιο χώρο με μας. Ποια είναι τα όνειρά της, τι μουσική ακούει, τι την απασχολεί και γιατί είναι εδώ. 
<br>
 <br>Θέλουμε οριζόντιες δομές, μιας και κανείς δεν θα έπρεπε να είναι υπεράνω της χλωρίνης που θα λούσει τις τουαλέτες, τίποτα δεν είναι έτοιμο να μας περιμένει, όλα μαζί θα τα στήσουμε, όλα μαζί θα τα καθαρίσουμε, θα χορέψουμε, θα κουβαλήσουμε και θα πιούμε μπύρες, θα αφισοκολλήσουμε, θα μοιραστούμε τον πάγκο με την διπλανή μας και όλα μαζί θα χαρούμε τον κόπο μας. Τίποτα δεν μας ανήκει και όλα είναι δικά μας και τα πονάμε!
<br>
<br>Περισσότερα σύντομα...

 </p>
  <p>
   <br><a href="https://athens.zinefest.gr/#/about">σάιτ: athens.zinefest.gr/</a>
<br><a href="https://www.facebook.com/athenszinefest/">φβ: facebook.com/athenszinefest/</a>
<br>μέηλ: athens@zinefest.gr
 </p>
