 <p>
Τι είναι ένα φεστιβάλ φανζίν; Μόδα; Πρακτική; Ανάγκη;
<br>Το <strong>Athens Zinefest</strong> είναι ένα φεστιβάλ που βγαίνει στο δρόμο κάθε άνοιξη.
<br>Προκύπτει από την ανάγκη να είναι δημιουργημένο από ζίνερς για ζίνερς.
<br>Επιδιώκει να είναι εξωστρεφές πεδίο διαλόγου και διάδοσης της κουλτούρας των φανζίν αλλά και χώρος δικτύωσης μεταξύ των ανθρώπων που μοιράζονται τον ίδιο ενθουσιασμό γι' αυτά.
<br>Λειτουργεί συλλογικά, αυτοοργανωμένα και κάθε χρόνο, προβληματίζεται κι αναρωτιέται.
<br><strong>Σ' αυτό το πλαίσιο, καλούμε όσα άτομα και φανζίν νιώθουν να εκφράζονται μέσα από την αναπαραγωγή της diy κουλτούρας -και του δικτύου αλληλεγγύης που τη διέπει- καθώς και με την ελεύθερη δημιουργία που δεν ακολουθεί τα κυρίαρχα πρότυπα, για να συνδιαμορφώσουμε το φετινό φεστιβάλ.</strong>
<br>Μέχρι την συνάντηση, μπορείτε να διαβάσετε τα κείμενα που συντάχθηκαν από τη διοργάνωση των προηγούμενων ετών: 
<br><a href="https://athens.zinefest.gr/#/upyourass">Athens Zinefest '16</a> | <a href="https://athens.zinefest.gr/#/setikozmo">Athens Zinefest '17</a>
 </p>
 <p>
<strong>Δεύτερη συνάντηση: 
<br>    Τρίτη  20/02  19.00
<br>    Λοκομοτίβα (στο πατάρι) 
<br>    Μπόταση 7, Εξάρχεια </strong>

 </p>
  <p>
Περισσότερες πληροφορίες:
   <br><a href="https://athens.zinefest.gr/#/about">σάιτ: athens.zinefest.gr/</a>   
<br><a href="https://www.facebook.com/athenszinefest/">φβ: facebook.com/athenszinefest/</a>
<br>μέηλ: athens@zinefest.gr
<br>τηλ: 6934833167
 </p>
