<p>
 <a3><strong> 
  Athens Zinefest 2018
  <br>Σάββατο 19 Μαΐου 
  <br>Κατάληψη Ανάληψης, Βύρωνας</strong></a3>
  </p>
<p>
Τι είναι ένα φεστιβάλ φανζίν; Μόδα; Πρακτική; Ανάγκη;
<br>Το <strong>Athens Zinefest</strong> είναι ένα φεστιβάλ που βγαίνει στο δρόμο κάθε άνοιξη.
<br>Προκύπτει από την ανάγκη να είναι δημιουργημένο από ζίνερς για ζίνερς.
<br>Επιδιώκει να είναι εξωστρεφές πεδίο διαλόγου και διάδοσης της κουλτούρας των φανζίν αλλά και χώρος δικτύωσης μεταξύ των ανθρώπων που μοιράζονται τον ίδιο ενθουσιασμό γι' αυτά.
<br>Λειτουργεί συλλογικά, αυτοοργανωμένα και κάθε χρόνο, προβληματίζεται κι αναρωτιέται.
<div><img src="/static/img/banner2018.jpg" alt="zinefest2018" class="img-responsive"></div> 
 </p>
  <p>
Περισσότερες πληροφορίες:
   <br><a href="https://athens.zinefest.gr/#/about">σάιτ: athens.zinefest.gr/</a>   
<br><a href="https://www.facebook.com/athenszinefest/">φβ: facebook.com/athenszinefest/</a>
<br>μέηλ: athens@zinefest.gr
 </p>
