<p>
  Η ιδέα του zinefest ξεκίνησε το 2013 σαν ατομική πρωτοβουλία και πια διοργανώνεται από μια μεγαλύτερη
  ομάδα, η οποία φιλοδοξεί να συμμετέχουν ακόμα περισσότεροι ζίνερς στο μέλλον. Η διοργάνωση γίνεται
  μια φορά τον χρόνο χωρίς χορηγούς ή διαφημίσεις και δεν περιλαμβάνει εμπορικά έντυπα. Στόχος μας είναι
  η αυτό-οργάνωση και η διάδοση της κουλτούρας των fanzines μακριά από τις μόδες που κατά διαστήματα
  πλήττουν και αυτόν τον χώρο. Σημαντικό για εμάς είναι η δημιουργία μιας εναλλακτικής οικονομίας, η
  αναπαραγωγή της diy κουλτούρας και του δικτύου αλληλεγγύης που την διέπει και η ελεύθερη δημιουργία
  που δεν ακολουθεί εμπορικά πρότυπα και δεν βρίσκει πάντα τρόπο έκφρασης.
</p>

<p>
  Η συμμετοχή στην ομάδα είναι ανοιχτή. Με αφορμή το Athens Zinefest 2016 στύψαμε το κεφάλι μας και
  δημιουργήσαμε μια <a href="/#/brochure/">μπροσούρα</a> με όλα όσα για εμάς αποτελούν ανοιχτό πεδίο.
  Διάβασέ την και στείλε μας ένα μήνυμα αν θέλεις να εμπλακείς.
</p>

<p>
  Μέχρι τώρα έχουνε πραγματοποιηθεί:
  <ul>
    <li>1ο Athens Zinefest @ Ξύλικο ΑΣΚΤ</li>
    <li>2ο Athens Zinefest @ Μηχανουργείο ΕΜΠ</li>
    <li>3ο Athens Zinefest @ Στέκι Μεταναστών</li>
    <li>4ο Athens Zinefest @ Πάρκο Κονίστρας</li>
  </ul>
</p>
