<style type="text/css">
  @import url("static/lib/mapbox.js/mapbox.css");
</style>

<p>
  <p class="poster-inline">
    <a href="/static/img/zinefest2016-poster.jpg" target="_blank">
      <img src="/static/img/zinefest2016-poster-small.jpg" alt="zinefest2016" class="img-responsive">
    </a>
  </p>
  Το <strong>Σάββατο 14 Μαΐου</strong> διοργανώνουμε το <strong>Athens Zinefest 2016</strong> στο
  <strong>Στέκι Μεταναστών</strong> στον πεζόδρομο και το παρκάκι της Τσαμαδού, στα Εξάρχεια. Η
  ιδέα του zinefest ξεκίνησε το 2013 σαν ατομική πρωτοβουλία και φέτος διοργανώνεται από μια
  μεγαλύτερη ομάδα, η οποία φιλοδοξεί να συμμετέχουν ακόμα περισσότεροι ζίνερς στο μέλλον.
  Η διοργάνωση γίνεται χωρίς χορηγούς ή διαφημίσεις και δεν περιλαμβάνει εμπορικά έντυπα.
</p>

<p>
  Θα στήσουμε τους πάγκους <strong>από τις 14:00 ως τις 20:00</strong>. Παράλληλα, στις 15:00 θα
  πραγματοποιηθεί <strong>εργαστήριο μεταξοτυπίας</strong> σε συνεργασία με τους Fuzz ink., στις
  19:00 ένας κύκλος συζήτησης για <strong>εναλλακτικούς τρόπους τυπώματος και διανομής</strong> και
  στις 20:00 <strong>ανοιχτή συζήτηση για την ελληνική σκηνή των φανζίν</strong> με τη συμμετοχή
  παλιών και αγαπημένων φανζινάδων. Μετά τις 22:00 θα ακολουθήσει <strong>πάρτυ με τους The Tony
  Cascarino Syndrome</strong> στην επιλογή μουσικής.
</p>

<p>
  Φέτος την διοργάνωση φιλοξενεί το
  <a href="http://tsamadou13-15.espivblogs.net/" target="_blank">Στέκι Μεταναστών</a>. Το στέκι
  ξεκίνησε σαν πρωτοβουλία του Δικτύου Κοινωνικής Υποστήριξης Προσφύγων και Μεταναστών.
  Στα κτίρια της <strong>Τσαμαδού 13-15</strong> λειτουργεί ένας χώρος συνάντησης μεταναστών και ντόπιων,
  ένας χώρος αλληλεγγύης, συνύπαρξης, ελευθερίας, ανταλλαγής. Όπως και τα φανζίν, το στέκι
  ακολουθεί αντιεμπορευματική λογική.
</p>

<div id="map"></div>

<p>
  Στον χώρο θα υπάρχει αυτό-οργανωμένο μπαρ για τα έξοδα της διοργάνωσης και distro για φανζίν που
  δεν κατάφεραν να έχουν δικό τους πάγκο.
</p>

<script src="static/lib/mapbox.js/mapbox.js"></script>
<script src="static/js/map.js"></script>
