<div class="grid">
  <div class="poster">
    <a href="/static/img/zinefest2018-poster.jpg" target="_blank"><img src="/static/img/zinefest2018-poster-small.jpg" alt="zinefest2018" class="img-responsive"></a>
  </div>

  <div class="poster">
    <a href="/static/img/zinefest2017.jpg" target="_blank"><img src="/static/img/zinefest2017.jpg" alt="zinefest2017" class="img-responsive"></a>
  </div>

  <div class="poster">
    <a href="/static/img/zinefest2016-poster.jpg" target="_blank"><img src="/static/img/zinefest2016-poster.jpg" alt="zinefest2016" class="img-responsive"></a>
  </div>

  <div class="poster">
    <a href="/static/img/zinefest2014-poster.png" target="_blank"><img src="/static/img/zinefest2014-poster.png" alt="zinefest2014" class="img-responsive"></a>
  </div>

  <div class="poster">
    <a href="/static/img/zinefest2013-poster.png" target="_blank"><img src="/static/img/zinefest2013-poster.png" alt="zinefest2013" class="img-responsive"></a>
  </div>
</div>