<p align="center">  
  <i>Μοιράστηκε στο Athens Zinefest 2017</i></p>
<p> 
  <p></p>
<div class="poster-inline">    
<a href="/static/img/setikozmo_17.png" target="_blank">      
<img src="/static/img/setikozmo_17.png" alt="zinefest2017" class="img-responsive"></a>
</div>
</p>
<h3>Σε τι κόσμο θα φέρουμε τα φανζίν μας;</h3>
<p>
Πώς θα αναπαράγουμε κοινωνικά τα έντυπά μας; Με ποιες αρχές θα τα μεγαλώσουμε; 
Σε ποιες συνθήκες θα τα αμολήσουμε να ζήσουν την ενήλικη ζωή τους μακριά απ’ τα 
χέρια μας; Υπό ποιους όρους είναι ορθό να επικοινωνήσουν την ύπαρξη και τις ιδέες που φέρουν;
</p>
<p>
Αυτά τα ερωτήματα για «τη ζωή, το σύμπαν, τα πάντα» ταλανίζουν εμάς και τα φανζίν μας ή 
τα εν δυνάμει φανζίν μας. Κι αυτά τα ερωτήματα θέλαμε να θέσουμε σε όλες/ους σε μια συζήτηση 
ανοιχτή μεταξύ ζίνερς ώστε να εκτεθούν τα γιατί των επιλογών μας· ο σκοπός δημιουργίας, οι 
προθέσεις και προτεραιότητες, η προσωπική/συλλογική έκφραση, η επιλογή ή όχι του αντιτίμου, 
η ελεύθερη συνεισφορά, οι τρόποι δικτύωσης και επικοινωνίας, το πώς έρχονται τέλος πάντων 
στον κόζμο τα φανζίν, και τι ήρθαν να κάνουν ανάμεσά μας.
</p>

<h3>Οι πενήντα επτά* αποχρώσεις της γκρι ζώνης στα φανζίν</h3>
<p>
Σ’ αυτό τον κόσμο που αλλάζει(;) και ψάχνεις να διαλέξεις (κατάλληλο) τρόπο να επικοινωνήσεις, 
πόσο γκρι είναι η γκρι ζώνη στην οποία ανήκεις; Και ποιον ενοχλεί στο κάτω κάτω; Μήπως δεν υπάρχει 
γκρι, ούτε καν άσπρο-μαύρο, ούτε δίπολα και λοιπά κανονιστικά; 
</p>
<p>
Πειράζει που σ’ αρέσουν οι (ιλουστρασιόν) εκτυπώσεις; Πειράζει που ’χεις καλό γούστο; Μήπως αυτό 
που έφτιαξες δεν είναι και τόσο φανζίν; 
</p>
<p>
Μήπως δεν διάβασες τον ορισμό του φανζίν πριν το παρουσιάσεις ως τέτοιο σε όλα τα κοινωνικά δίκτυα;
</p>
<p>
Μήπως αυτό που έφτιαξες είναι μια επένδυση για τη μελλοντική σου καριέρα; Φτηνό ή ακριβό ή τζάμπα βρε αδερφάκι...
<br>
Θεωρείς ότι η προώθησή του μέσα από άλλα ιλουστρασιόν έντυπα θα φέρει πιο κοντά αυτούς που κινούνται 
σε άλλα μήκη κύματος;
</p>
<p>
Άλλωστε, για ποιο λόγο να τα κάνεις όλα αυτά; Δεν είναι για τις ανθρώπους που θα αγκαλιάσουν το φανζίν σου;
<br>
Ως τι θα το αγκαλιάσουν; Ως αναγνωστικό φετίχ ή ως μια μορφή (αυτο)έκφρασης; Ως αυτό που είναι ή ως μια 
προσθήκη στην κουλ περσόνα τους;
</p>
<p>
Είναι το έντυπό σου μια αυτόνομη οντότητα στο χωροχρόνο ή ένα σκαλάκι για κάτι άλλο;
<br>
Μήπως όλα αυτά καθορίζονται απ’ τις προθέσεις σου; Αρκεί να ’χεις καλές προθέσεις; Να ’σαι καλό παιδί; 
</p>
<p>
(Ξέρεις;) Ποιος θα απαντήσει; Εσύ, ο αναγνώστης, ο χρόνος; Εμείς πάντως όχι...
</p>
<p>
<i>
Υπάρχει τρόπος να συμφωνήσουμε (ότι διαφωνούμε) χωρίς να καταλήγουμε σε μανιφέστα για το ορθό ζ(ε)ιν/ζεν; 
Μήπως εμμένουμε σε θέσεις για την αποδοχή; Για την ιδεολογία; Για την υπεράσπιση της κοινότητας;
<br>
Πότε κινδυνεύουμε να κατηγορηθούμε ως “προϊόν” και από ποιους; Αποδεκτή η κριτική, αλλά το κουτσομπολιό και το 
ξεμάλλιασμα μέσα σε μια κοινότητα με δέκα νοματαίους δεν έχει ιδιαίτερα γόνιμο αποτέλεσμα.
</i>
</p>
<p>
<i>* Όσες οι συμμετοχές του φετινού ζινφέστ.
</i>
</p>
<h3>Η (ακούσια) εκπόρνευση της ολόδικής σου καύλας</h3>
<p>
Καθώς τα αντι- και τα υπο- γίνονται συνεχώς μέρος του φανερού/κυρίαρχου κόσμου στον οποίο φέρνουμε τα φανζίν, 
πρακτικές που έχουν χρησιμοποιηθεί σε άλλα πλαίσια, εξωθεσμικά, για αγνούς κι αγωνιστικούς σκοπούς, για 
προβληματισμό και αντί-δραση, απορροφώνται αδιακρίτως. Υπάρχει στ’ αλήθεια όμως κάτι εκτός; Το μάτι της 
κανονικότητας/ενσωμάτωσης της κυρίαρχης κουλτούρας παραμονεύει συστηματικά, και μπορεί αύριο στα καλά καθούμενα 
να δεις το εντυπάκι σου, που με περίσσια καύλα έφτιαξες, πρώτη μούρη σε καμιά προθήκη έξω απ ’το πλαίσιό του, 
και να κλαις. Και μετά μπορεί να γίνει και μια διάλεξη για την καύλα σου, να στηθεί ένα επιχορηγούμενο παρτάκι, 
κι αυτές οι λέξεις «αδιαμεσολάβητο» και «αντικουλτούρα» να μπουν στον τίτλο. Δεν λειτουργούν άλλωστε για καλό 
τέτοιες εκδηλώσεις, για τη διάδοση των πρακτικών μας; Γιατί να σ’ ενοχλήσει; Γιατί θα χρησιμοποιηθείς φίλη και 
φίλε, όχι (μόνο) εσύ, το έντυπό σου, η κουλτούρα σου, σε διαδικασίες που δεν σε βρίσκουν σύμφωνη, ή δεν σου 
αντιστοιχούν. Και μην φανταστείς ότι μ’ αυτό τον τρόπο θα διαδοθεί το ρομαντικό αγωνιστικό σου πνεύμα ή η 
προσωπική σου θεώρηση ή οι δικές σου αρχές και όροι.
</p>
<p>
Δεν κατηγορείσαι για κάτι. Αυτό μπορεί να συμβεί (και) ακούσια, γιατί τα «κοινά» είναι πολλά, και αυτό που κάνεις 
μπορεί να προσελκύσει με διάφορους τρόπους ετερόκλητες ομάδες, που δεν γίνεται να ελέγξεις. Μην ξεχνάς όμως την 
κριτική, την προσωπική σου κριτική σε όσα εμπλέκεσαι επίτηδες ή από σπόντα ή επειδή «έτσι είναι», για να μην πεις 
μετά «δεν ήξερα»/«δεν το σκέφτηκα».
<br><i>
Απόλυτες αλήθειες δεν υπάρχουν, ούτε μόνο ένας τρόπος να γίνονται τα πράγματα, αλλά οι επιλογές σου αναπόφευκτα 
(θα) συνδέονται με τις προθέσεις σου.
</i>
</p>
<h3>Γιατί κάνουμε αυτή τη συζήτηση;</h3>
<p>
Το φανζίν διέπεται από συγκεκριμένα χαρακτηριστικά, οτιδήποτε άλλο είναι οτιδήποτε άλλο (που θα ’λεγαν κι οι 
φίλ# μας οι ντανταϊστές), οπότε γιατί το συζητάμε;
</p>
<p>
Δεν περιμένουμε να δοθούν απόλυτες απαντήσεις. Είναι όμως σαν να υπάρχει ένα πλήθος άτυπων ηθικών κανόνων προς 
ακολουθία, προς μια (καθαρότερη) ταυτότητα. Μέσα στον θόρυβο από διαφορετικές επιλογές, γνώμες και πιστεύω για 
τα (δεν) «πρέπει», φαίνεται σαν να οφείλεις να βρίσκεσαι εντός (ενός) πλαισίου, να διαλέξεις πλευρά/ές, αντί 
να επικοινωνείς τις ιδέες σου αυθόρμητα μέσα από διάφορ(ετικ)ες μορφές και εξερευνήσεις –ίσως ακόμη και λάθη.
</p>
<p>
Σκοπός αυτής της κουβέντας δεν είναι να συναποφασίσουμε ποιοι είναι οι νέοι υβριδικοί τύποι εντύπων που θα δεχτούμε 
στο βασίλειο του πολιτικά ορθού φανζίν.Κάθε εμφάνιση ενός εντύπου είναι και μια κατάθεση άποψης, συνειδητής ή μη, 
για την ευρύτερη σκηνή που το περιβάλλει και το εγκλείει, μια μοναδική συμμετοχή.
<p>
</p>
Η δημόσια ανοιχτή κουβέντα δεν έχει χαρακτήρα απόδοσης αυθεντίας στις συνομιλήτ(ρι)ες ή νομιμοποίησης των πρακτικών 
τους, αλλά ούτε και κρίσης των επιλογών και της ηθικής της καθεμιάς. Οργανώθηκε για να εκθέσει τις αντιφάσεις του 
κόσμου (μας), τους όρους των σχέσεων και τις συνθήκες παραγωγής τους, να τις κάνει (πιο) γνωστές και να γίνει ίσως 
η αρχή και –άλλων– τέτοιων συζητήσεων, πέρα από διαπροσωπικές έριδες μεταξύ των διαφορετικών μας κοινοτήτων.
</p>
<p>
Το δικό μας φεστιβάλ, δημιουργημένο από ζίνερς για ζίνερς, επιδιώκει να είναι ένα εξωστρεφές πεδίο διαλόγου και 
διάδοσης της κουλτούρας των φανζίν καθώς και δικτύωσης μεταξύ των ανθρώπων που μοιράζονται τον ίδιο ενθουσιασμό 
για το μέσο, ακόμη και από διαφορετικούς –θεματικά, στιλιστικά ή/και ιδεολογικά– χώρους.
</p>
<p>
<i>Λίγος ρομαντισμός δεν έβλαψε ποτέ κανένα! Ειρήνη, αδερφές μου!</i>
</p>
